img {
  width: 200px;
  height: auto;
}

#walrus-showing {
  display: none;
}

.show {
  cursor: pointer;
  color: #0088cc;
}

.hide {
  cursor: pointer;
  color: #0088cc;
}

.secret {
  cursor: pointer;
  color: #0088cc;
}


.clickable:hover {
  text-decoration: underline;
}

.appear {
  display: none;
}

.smiley {
  display: none;
}
.wink {
  display: none;
}

.click-me {
  cursor: pointer;
  color: #0088cc;
}
.touch-me {
    cursor: pointer;
    color: #0088cc;
}